/*  styling of table elements */
table {
  table-layout: fixed;
  width: 80%;
  border-collapse: collapse;
  margin-left: auto;
  margin-right: auto;
}
th {
  background-color: #04aa6d;
  color: white;
  padding: 15px;
}
td {
  border-bottom: 1px solid #ddd;
  text-align: center;
  padding: 15px;
}
tr:nth-child(even) {
  background-color: #e7e5e5;
}
tr:hover {
  background-color: rgb(196, 240, 192);
}
